body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url(fotos/casal3.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #5a2a2a;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 90%;
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

h1 {
    font-size: 1.8em;
    color: #8a4b4b;
}

img {
    width: 200px;
    height: auto;
    margin: 20px 0;
    border-radius: 10px;
}

p {
    font-size: 1.2em;
    color: #5a2a2a;
}

/* Estilizando o link de voltar como uma seta */
.voltar {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 2em;  /* Tamanho da seta */
    color: #8a4b4b;
    text-decoration: none;
}

.seta {
    display: inline-block;
    transform: translateY(-4px); /* Ajusta a posição da seta verticalmente */
}

.voltar:hover .seta {
    color: #6d3a3a;
}
