body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url(fotos/casal3.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #5a2a2a;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 90%;
    max-width: 320px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;  /* Ajusta o tamanho conforme o conteúdo */
    overflow: hidden;  /* Remove qualquer excesso de rolagem dentro do container */
}

h1 {
    font-size: 1.5em;
    color: #8a4b4b;
    margin-bottom: 10px;
}

.lista-presentes {
    width: 100%;
    max-height: 80vh;  /* Limita a altura máxima do container para rolar dentro */
    overflow-y: scroll;  /* Permite a rolagem vertical */
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;  /* Adicionando espaçamento entre os produtos */
    margin-top: 20px;
    -ms-overflow-style: none;  /* Remove a linha de rolagem no IE */
    scrollbar-width: none;  /* Remove a linha de rolagem no Firefox */
}

/* Para Chrome, Safari e Opera */
.lista-presentes::-webkit-scrollbar {
    display: none;  /* Remove a linha de rolagem nos navegadores WebKit */
}

.presente {
    display: flex;
    align-items: center;
    background-color: #f8d7da;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
    max-width: 280px;
    margin: 0 auto;
}

.presente:hover {
    transform: scale(1.05);
    background-color: #f5c6cb;
}

.presente img {
    width: 80px;
    height: 80px;
    margin-right: 15px;
    border-radius: 10px;
}

.detalhes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.nome {
    font-size: 1.1em;
    color: #5a2a2a;
    font-weight: bold;
}

.preco {
    font-size: 1em;
    color: #5a2a2a;
}

/* Estilizando o link de voltar como uma seta */
.voltar {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 2.5em;  /* Tamanho maior para a seta */
    color: #8a4b4b;
    text-decoration: none;
    transition: color 0.3s;
}

.voltar:hover {
    color: #6d3a3a; /* Muda a cor quando o mouse passar */
}
