body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url(fotos/casal3.jpeg); /* Caminho da imagem */
    background-size: cover;  /* Faz a imagem cobrir toda a tela */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita repetição */
    background-attachment: fixed; /* Mantém a imagem fixa ao rolar */
    color: #5a2a2a;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
    overflow: hidden;
    position: relative;
    display: flex;         /* Usa flexbox */
    justify-content: center;  /* Centraliza horizontalmente */
    align-items: center;      /* Centraliza verticalmente */
}

.container img {
    max-width: 100%;       /* Garante que a imagem não ultrapasse o container */
    height: auto;          /* Mantém a proporção da imagem */
}


h1 {
    font-size: 2em;
    color: #8a4b4b;
    margin-top: 50px;
    margin-bottom: 10%;
}

.carousel {
    width: 50%;
    overflow: hidden;
    position: relative;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-inner img {
    width: 100%;
    border-radius: 10px;
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.534);
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 50%;
    transition: background 0.3s;
}

button:hover {
    background-color: rgba(255, 255, 255, 1);
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

footer {
    margin-top: 20px;
}

footer a {
    text-decoration: none;
    color: #8a4b4b;
    font-weight: bold;
}